html,
body {
    min-height: 100vh;
    overflow: auto;
}

div {
    display: flex;
}

form {
    display: flex;
}

h1 {
    text-align: center;
}

a {
    color: brown !important;
}

img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border: 0.2rem solid black;
    border-radius: 1rem;
}

label {
    font-size: 0.6rem;
}

input {
    padding: 0;
    padding-left: 0.2rem;
    margin: 0.25rem;
    border: 0.15rem solid #663300;
    border-radius: 0.5rem;
    transition: all 0.8s;
}

input:focus {
    outline: none;
    background-color: #6633003e;
}

.button {
    background-color: #6633009d;
    color: white;
    height: 1.2rem;
    width: 10rem;
    border: 0.15rem solid #663300;
    border-radius: 0.5rem;
    transition: all 0.5s;
    box-sizing: content-box;
}

.button:focus,
.button:active,
.button:hover {
    background-color: #6633003e;
    color: black;
}

/* Index page styling */

.div_index {
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.div_index__form {
    flex-direction: column;
    align-items: center;
}

.div_index__heroes {
    flex-direction: row;
    justify-content: center;
}

.div_index__hero {
    flex-direction: column;
    margin: 1rem;
}

/* Hero page styling */

.div_hero {
    justify-content: space-evenly;
    align-items: center;
    color: khaki;
    background: linear-gradient(to top left, #ffffff 0%, #663300 100%);
}

.div_hero img {
    width: 10rem;
    height: 10rem;
    column-gap: 1rem;
}

.div_hero__details {
    flex-direction: column;
    justify-content: space-evenly;
}

.div_exp_bar {
    border: 2px solid black;
    border-radius: 1rem;
    width: 20rem;
    height: 2rem;
}

#exp_bar {
    background-color: black;
    border-radius: 1rem;
    height: 100%;
    align-items: center;
    animation: exp_bar 1.5s ease;
}

:root {
    --end-width: 0;
}

@keyframes exp_bar {
    0% {
        width: 0;
    }

    100% {
        width: var(--end-width);
    }
}

.div_hero__forms {
    flex-direction: column;
    gap: 2rem;
}

.div_hero__forms_update {
    flex-direction: column;
    align-items: center;
}

.div_hero__forms_delete {
    justify-content: center;
}

.div_hero__avatars {
    flex-direction: column;
    align-items: center;
}

.div_hero__avatars_form {
    flex-direction: column;
    align-items: center;
}

.div_hero__avatar {
    flex-direction: row;
}

.div_hero__avatar_details {
    flex-direction: column;
    margin: 0.25rem;
}

.hero_name {
    color: black;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
}

/* Party page styling */

.div_party {
    justify-content: space-evenly;
    margin-top: 5rem;
}

.party__form {
    flex-direction: column;
    align-items: center;
}

.div_party__party {
    flex-direction: column;
}

.div_party__navigation {
    align-items: center;
    justify-content: space-evenly;
}

.div_party__hero {
    flex-direction: column;
    margin: 0.25rem;
}

.main-nav {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding-left: 10rem;
}

.push {
    margin-left: auto;
    margin-right: 2rem;
}