html,
body {
    min-height: 100vh;
    overflow: auto;
}

h1 {
    text-align: center;
}

a {
    color: brown;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 0.6rem;
}

input {
    width: 10rem;
    height: 1.2rem;
    padding: 0;
    padding-left: 0.2rem;
    margin: 0.25rem;
    border: 0.15rem solid #663300;
    border-radius: 0.5rem;
    transition: all 0.8s;
}

input:focus {
    outline: none;
    background-color: #6633003e;
}

.container {
    max-width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    color: khaki;
    background: linear-gradient(to top left, #ffffff 0%, #663300 100%);
}
.container_form {
    max-width: max-content;
    margin: 2rem;
    background: linear-gradient(to bottom right, #ffffff 0%, #663300 100%);
}

.button {
    background-color: #6633009d;
    color: white;
    height: 1.2rem;
    width: 10rem;
    border: 0.15rem solid #663300;
    border-radius: 0.5rem;
    transition: all 0.5s;
    box-sizing: content-box;
}

.button:focus,
.button:active,
.button:hover {
    background-color: #6633003e;
    color: black;
}

/* Index page styling */

.container_index {
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
}

/* Status page styling */

.container_status {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
}

.container_status__hero {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.status_picture {
    height: 10rem;
    width: 10rem;
}

/* Hero page styling */

.container_hero {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: khaki;
    background: linear-gradient(to top left, #ffffff 0%, #663300 100%);
}

.container_hero__picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_hero__details {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container_hero__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container_hero__avatar {
    display: flex;
    flex-direction: row;
}

.container_hero__avatar div {
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
}

.container_hero__avatar input {
    width: 5rem;
    /* margin: 0.1rem; */
}

.container_hero__avatar img {
    width: 5rem;
    height: 5rem;
    border: 0.2rem solid black;
    border-radius: 1rem;
}
