{% extends 'dungeons/layout.html' %} {% block body %}
<h1>
    Create a party or
    <a href="{% url 'dungeons:index' %}">return to the Index page.</a>
</h1>
<div class="container_party">
    <div class="container_party__forms">
        <form class="container_party__forms" action="{% url 'dungeons:party' %}" method="post">
            {% csrf_token %} {{ form }}
            <input class="button" type="submit" value="Join Party" />
        </form>
        <form action="{% url 'dungeons:party' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="delete" />
            <input class="button" type="submit" value="Delete Party" />
        </form>
    </div>
    
    <div class="container_party__hero">
        <h1>Parties:</h1>
        <div class="container_party__heroes">
            {% for party in parties %}
            <div class="container_party__hero">
                <p>{{ party.name }}{{ party.id }}</p>
                {% for hero in party.hero_set.all %}
                <p>{{ hero.name }}</p>
                <img src="{{ hero.avatar.avatar.url }}" alt="loading" />
                {% empty %}
                <h3>Empty Party</h3>
                {% endfor %}
            </div>
            {% empty %}
            <h1>Add a party</h1>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
