{% extends 'dungeons/layout.html' %} {% block body %}
<h1>
    Create a party or
    <a href="{% url 'dungeons:index' %}">return to the Index page.</a>
</h1>
<div class="container_party__forms">
    <form action="{% url 'dungeons:party' %}" method="post">
        {% csrf_token %} {{ form }}
        <input type="submit" value="Add Heroes" />
    </form>
</div>

<form action="{% url 'dungeons:party' %}" method="post">
    {% csrf_token %}
    <div class="container_party__heroes">
        <h1>Heroes</h1>
        {% for hero in heroes %}

        <input type="hidden" name="add_to_party" value="{{ hero.id }}" />
        <div class="container_party__hero">
            <p class="container_party__hero_name">{{ hero.name }}</p>
            <img src="{{ hero.avatar.avatar.url }}" alt="loading" />
        </div>
        {% endfor %}
    </div>
    <input class="button" type="submit" value="Add to Party" />
</form>
<div class="container_party__heroes">
    <h1>Parties:</h1>
    {% for party in parties %}
    <div class="container_party__hero">
        <p>{{ party.name }}</p>
        {% for hero in party.hero_set.all %}
        <p>{{ hero.name }}</p>
        <img src="{{ hero.avatar.avatar.url }}" alt="loading" />
        {% empty %}
        <h3>Empty Party</h3>
        {% endfor %}
    </div>
    {% empty %}
    <h1>Add a party</h1>
    {% endfor %}
</div>
<form action="{% url 'dungeons:party' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="delete" />
    <input class="button" type="submit" value="Delete Parties" />
</form>
{% endblock %}
