{% extends 'create/layout.html' %} {% block body %}
<h1 style="text-align: center; color: blueviolet">
    Those are the stats from the index page.
</h1>
<ul>
    {% for hero in heroes %}
    <li><h1>{{ hero.name }}</h1></li>
    <form action="{% url 'create:updated' hero.id %}" method="post">
        {% csrf_token %} {{ form }}
        <input type="submit" value="Update" />
    </form>
    <form action="{% url 'create:deleted' hero.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete" />
    </form>
    {% empty %}
    <h1>
        Go to index<a href="{% url 'create:index' %}" style="color: brown">
            -->></a
        >
    </h1>
    {% endfor %}
</ul>
{% if heroes %}
<a href="{% url 'create:status' %}" style="color: green"
    >Continue to the Status Page --></a
>
{% endif %} {% endblock %}
