{% extends 'create/layout.html' %} {% block body %}
<h1>Name - {{ hero.name }}</h1>
<div class="container_hero">
    <div class="container_hero__picture">
        <img src="{{ hero.avatar.avatar.url }}" alt="loading" />
    </div>
    <div class="container_hero__details">
        {% for level, exp in hero.current_next_level.items %}
        <h4>Level - {{ level }}</h4>
        <h4>Experience gained - {{ hero.exp }}</h4>
        <h4>Level up in - {{ exp }}</h4>
        {% endfor %}

        <h5>Adventure Began - {{ hero.created }}</h5>
    </div>
    <div class="container_hero__form">
        <form action="{% url 'create:hero' hero.id %}" method="post">
            {% csrf_token %} {{ form }}
            <input class="button" type="submit" value="Update" />
        </form>
        <form action="{% url 'create:deleted' hero.id %}" method="post">
            {% csrf_token %}
            <input class="button" type="submit" value="Delete" />
        </form>
    </div>
</div>

<div>
    <h1>Pick an Avatar.</h1>
    <form action="{% url 'create:hero' hero.id %}" method="post">
        {% csrf_token %}
        <div class="container_hero__avatar">
            {% for avatar in avatars %}
            <div>
                <label for="avatar_pick"
                    ><img src="{{ avatar.avatar.url }}" alt="loading"
                /></label>
                <input
                    type="radio"
                    id="avatar_pick"
                    name="new_avatar"
                    value="{{ avatar.id }}"
                />
            </div>

            {% empty %}
            <h1>No avatars.</h1>
            {% endfor %}
        </div>

        <input type="submit" />
    </form>
</div>

<h1>
    <a href="{% url 'create:status' %}">Go to Heroes section.</a>
</h1>
{% endblock %}
