{% extends 'create/layout.html' %} {% block body %} {% load static %}
<script src="{% static 'create/exp_bar.js' %}?{% now 'U' %}" defer></script>
<h1>{{ hero.name }}</h1>
<div class="container_hero">
    <div class="container_hero__picture">
        <img src="{{ hero.avatar.avatar.url }}" alt="loading" />
    </div>
    <div class="container_hero__details">
        <h4>Level - {{ hero.current_level }}</h4>
        <div class="container_exp_bar">
            <input
                type="hidden"
                id="exp_percentage"
                name="exp"
                value="{{ hero.current_level_exp_percentage }}"
            />
            <div id="exp_bar">{{ hero.current_level_exp_percentage }}</div>
        </div>
        <h4>Experience gained - {{ hero.exp }}</h4>
        <h4>Next level will be on the {{ hero.next_level_date }}</h4>

        <h5>Adventure Began - {{ hero.created }}</h5>
    </div>
    <div class="container_hero__form">
        <form action="{% url 'create:hero' hero.id %}" method="post">
            {% csrf_token %} {{ form }}
            <input class="button" type="submit" value="Update" />
        </form>
        <form action="{% url 'create:deleted' hero.id %}" method="post">
            {% csrf_token %}
            <input class="button" type="submit" value="Delete" />
        </form>
    </div>
</div>

<div>
    <h1>Avatar.</h1>
    <form action="{% url 'create:hero' hero.id %}" method="post">
        {% csrf_token %}
        <div class="container_hero__avatar">
            {% for avatar in avatars %}
            <div>
                <label for="{{ avatar.id }}"
                    ><img src="{{ avatar.avatar.url }}" alt="loading" />
                </label>
                <input
                    type="radio"
                    id="{{ avatar.id }}"
                    name="new_avatar"
                    value="{{ avatar.id }}"
                />
            </div>

            {% empty %}
            <h1>No avatars.</h1>
            {% endfor %}
        </div>

        <input type="submit" value="Change Avatar" />
    </form>
</div>

<h1>
    <a href="{% url 'create:status' %}">Go to Heroes section.</a>
</h1>
{% endblock %}
