{% extends 'create/layout.html' %} {% block body %}
<h1>Heroes <a href="{% url 'create:party' %}">Party</a></h1>
<div class="container_index">
    <form
        class="container_index__form"
        action="{% url 'create:index' %}"
        method="post"
    >
        {% csrf_token %} {{ form }}
        <input class="button" type="submit" value="Create Hero" />
    </form>
    <div class="container_index__heroes">
        {% for hero in heroes %}
        <div class="container_index__hero">
            <p class="hero_name">
                <a href="{% url 'create:hero' hero.id %}">{{ hero.name }}</a>
            </p>

            <img src="{{ hero.avatar.avatar.url }}" alt="loading" />
        </div>

        {% empty %}
        <h1>No Heroes</h1>
        {% endfor %}
    </div>
</div>

{% endblock %}
