{% extends 'create/layout.html' %} {% block body %}
<h1>Status Page</h1>
<div class="container_status">
    {% for key, value in experience.items %}
    <div class="container_form">
        <h1>Name - {{ key.name }}</h1>
        <h1><a href="{% url 'create:hero' key.id %}">{{ key.name }}</a></h1>
        <img src="{{ key.avatar.avatar.url }}" alt="loading" />
        {% for key, value in value.items %}
        <h3>Level - {{ key }}</h3>
        <h3>Experience - {{ value }}</h3>
        {% endfor %}
        <h5>Adventure Began - {{ key.created }}</h5>
    </div>
    {% empty %}
    <h1>No Heroes</h1>
    {% endfor %}
</div>
<h1>
    <a href="{% url 'create:saveandexit' %}">Save and Exit</a>
</h1>

{% endblock %}
