{% extends 'create/layout.html' %} {% block body %}
<h1>Status Page</h1>
<div class="container_status">
    {% for hero in heroes %}
    <div class="container_status__hero">
        <h1><a href="{% url 'create:hero' hero.id %}">{{ hero.name }}</a></h1>
        <picture class="status_picture">
            <img src="{{ hero.avatar.avatar.url }}" alt="loading" />
        </picture>
    </div>
    {% empty %}
    <h1>No Heroes</h1>
    {% endfor %}
</div>
<h1>
    <a href="{% url 'create:saveandexit' %}">Save and Exit</a>
</h1>

{% endblock %}
