h1 {
    color: green;
    text-align: center;
}

img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 1rem;
}

.container_index__heroes {
    display: flex;
    flex-direction: row;
}

.container_index__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.container_index__hero img {
    width: 5rem;
    height: 5rem;
    border: 0.2rem solid black;
    border-radius: 1rem;
}

.container_party__forms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.container_party__heroes {
    display: flex;
    flex-direction: row;
}

.container_party__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.container_party__hero_name {
    width: 5rem;
    margin: 0.2rem;
    text-align: center;
}
